#title {
  text-align: center;
  font-family: arial;
}

body {
  background: green;
}

svg {
  background: pink;
  display: block;
  margin: 0 auto;
}
<<<<<<< HEAD

=======
>>>>>>> 280fa15dac89fb2ca9bd593f057a02dc6abe218d
